<div class="row">
    <div class="col-md-12">
        <h1>Panel de Delivery</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3>Mis Entregas Asignadas</h3>
        {{#if orders.length}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Comercio</th>
                    <th>Cliente</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{_id}}</td>
                    <td>{{date}}</td>
                    <td>{{commerce.commerceName}}</td>
                    <td>{{client.name}} {{client.surname}}</td>
                    <td>{{address}}</td>
                    <td>
                        <span class="badge bg-{{#if (eq status 'in_process')}}info{{else}}success{{/if}}">
                            {{status}}
                        </span>
                    </td>
                    <td>
                        <a href="/delivery/order/{{_id}}" class="btn btn-primary btn-sm">Ver Detalles</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class="alert alert-info">No tienes entregas asignadas en este momento.</div>
        {{/if}}
    </div>
</div>