<div class="row">
    <div class="col-md-12">
        <h1>Mis Favoritos</h1>
        {{#if favorites.length}}
        <div class="row">
            {{#each favorites}}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{commerceLogo}}" class="card-img-top" alt="{{commerceName}}"
                        style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{commerceName}}</h5>
                        <p class="card-text">Horario: {{openingTime}} - {{closingTime}}</p>
                        <a href="/client/commerce/{{_id}}" class="btn btn-primary">Ver Productos</a>
                        <a href="/client/favorites/remove/{{_id}}" class="btn btn-danger btn-sm float-end">Quitar</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <div class="alert alert-info">No tienes comercios favoritos.</div>
        {{/if}}
    </div>
</div>